.about {
    padding: 50px;
    text-align: center;
    background-color: #282c34;
    color: rgb(120, 166, 213);
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
  }
  